.homepage-outermost{
  display:flex;
  flex-direction:column;
  top:0;
  width:100%;
  align-items:center;

}
.homepage-background-img-container{



  /* opacity:0.8; */
  width:100%;
  height:700px;
  z-index : -1;
  display:flex;
  align-items:center;
  object-fit:cover;
  background-size:contain;
  background-position:center;
  /* background:linear-gradient(90deg, #0006, #0000001a 55%); */


}
.homepage-img{
  z-index:-1;
  background-image: url("https://images.unsplash.com/photo-1530519362533-b36020711133?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size:cover;
  background-position:center;

}
